<h1>User List</h1>

<!--<a ui-sref="users.userprofile">Go to user profile</a>-->

<table >

</table>
<p>This is a sample users table. data is source of this table is an <strong>Array</strong></p>
<hr>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="person in userdata.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
            <td>{{person.firstname}}</td>
            <td>{{person.lastname}}</td>
            <td>{{person.email}}</td>
            <td><span class="glyphicon glyphicon-pencil"></span><a ng-click="goto(person.id)">Edit</a></td>
            <td><span class="glyphicon glyphicon-remove-circle"><a ng-click="delete(person.id)">Remove</a></span></td>
        </tr>
    </tbody>
</table>
<select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select>
<uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
<!--
<div>
    <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize"></uib-pagination>
</div>
-->
<!--template loader starts
<div ui-view></div>
template loader ends-->
